{%extends 'base.html'%}

{%block title %} Account {%endblock%}
{%block content %}
{% with messages=get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-danger">
            {% for m in messages  %}
                {{ m }}
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
<h1 class="display-4 mb-2">Profile</h1>
<form method="POST" action="{{ url_for('account') }}">
    {{ form.hidden_tag() }}
    <p>{{ form.username.label(class="form-label") }} {{ form.username(class="form-control",value=current_user.id) }}
        {% if form.username.errors %}
        {% for error in form.username.errors %}
        {{ error }}
        {% endfor %}
        {% endif %}
    </p>

    
    <div class="mb-3" >{{ form.password.label(class="form-label") }} {{ form.password(class="form-control", placeholder="********") }}</div>
    
    <div>{{ form.submit(class="btn btn-primary") }}</div>

    <hr>
    <h3>Danger zone</h3>
    <p class="mb-2">It's really dangerous... Think twice before any actions!</p>
    <a class="btn btn-danger" href="{{url_for('delete')}}">Delete account</a>
</form>

{%endblock%}