{%extends 'base.html'%}

{%block title %} Account {%endblock%}
{%block content %}
{% with messages=get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-danger">
            {% for m in messages  %}
                {{ m }}
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
<form method="POST" action="{{ url_for('account') }}">
    {{ form.hidden_tag() }}
    <p>{{ form.username.label(class="form-label") }} {{ form.username(class="form-control",value=current_user.id) }}
        {% if form.username.errors %}
        {% for error in form.username.errors %}
        {{ error }}
        {% endfor %}
        {% endif %}
    </p>

    
    <div class="mb-3" >{{ form.password.label(class="form-label") }} {{ form.password(class="form-control") }}</div>
    
    <div>{{ form.submit(class="btn btn-primary") }}</div>
</form>

<a class="btn btn-danger" href="{{url_for('delete')}}">delete account</a>
{%endblock%}