{% extends 'base.html' %}
{% block title %}
Home
{% endblock title %}
{% block content %}

<div class="container-fluid">

    <!-- Three columns of text below the carousel -->
    <div class="row justify-content-center">

        <div class="col mx-auto text-center">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#00bfff" />
            </svg>

            <h2 class="fw-normal">Laptop</h2>
            <p>
                <a class="btn btn-secondary" href="{{url_for('find_laptop', attribute = 'maker')}}">
                    Checkout
                    <i class="bi bi-arrow-right-circle-fill ms-1"></i>
                </a>
            </p>
        </div>

        <div class="col mx-auto text-center">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#7D70BA" />
            </svg>

            <h2 class="fw-normal">Ram</h2>
            <p>
                <a class="btn btn-secondary" href="{{url_for('find_ram', attribute = 'maker')}}">Checkout 
                    <i class="bi bi-arrow-right-circle-fill ms-1"></i>
                </a>
            </p>
        </div>


        <div class="col mx-auto text-center">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#93867F" />
            </svg>

            <h2 class="fw-normal">Storage</h2>
            
            <p>
                <a class="btn btn-secondary" href="{{url_for('find_storage', attribute = 'maker')}}">
                    Checkout
                    <i class="bi bi-arrow-right-circle-fill ms-1"></i>
                </a>
            </p>
        </div>

    </div>
{% endblock content %}