{% extends 'base.html' %}
{% block title %}
Home
{% endblock title %}
{% set active_page = "index" %}
{% block content %}

{% with messages=get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-danger">
            {% for m in messages  %}
                {{ m }}
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
<div class="container-fluid pt-5">

    <div class="row">
        <h1 class="display-3">Finding computer products <br> that meet your need <br><strong>made simple.</strong></h1>
        <p></p>
    </div>
    
    <!-- Three columns of text below the carousel -->
    <div class="row justify-content-center mt-5">
    {% set object_centered_circle = 'object-fit: cover; border-radius: 100%; height: 180px; width: 180px;' %}
    {% set data = [
                    {'name': 'Laptop', 'link': '/laptop', 'img': 'laptop.jpg'},
                    {'name': 'Memory', 'link': '/ram', 'img': 'ram.jpg'},
                    {'name': 'Storage', 'link': '/storage', 'img': 'storage.jpg'}
                    ] %}
    {% for i in data %}

        <div class="col mx-auto text-center">
            <img src="/static/{{i['img']}}" style="{{object_centered_circle}}">

            <h2 class="fw-normal">{{i['name']}}</h2>
            <a class="btn btn-secondary mt-2 shadow" href="{{i['link']}}">
                Checkout
                <i class="bi bi-arrow-right-circle-fill ms-1"></i>
            </a>
        </div>
        
    {% endfor %}

    </div>
{% endblock content %}
