{% extends 'base.html'%}
{%block title%}Laptop{%endblock%}
{%block content%}
<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <h1 class="display-1 mb-5">Laptop</h1>
      <div class="list-group list-group-flush">
        <h2>Filter</h2>
        <!-- <a class="list-group-item" href="#">An item</a>
                <a class="list-group-item" href="#">A second item</a>
                <a class="list-group-item" href="#">A third item</a>
                <a class="list-group-item" href="#">A fourth item</a>
                <a class="list-group-item" href="#">And a fifth one</a> -->

        <!-- Dropdown menu in lists -->
        <div class="list-group-item dropdown">
          <a class="dropdown-toggle text-decoration-none text-black" href="#" id="positioning_selector" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-speedometer2"></i>
            Positioning
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="positioning_selector">
            <li><a class="dropdown-item" href="{{url_for('find_laptop_pos', field = 'entry level')}}">Entry Level</a></li>
            <li><a class="dropdown-item" href="{{url_for('find_laptop_pos', field = 'light gaming')}}">Light Gaming</a></li>
            <li><a class="dropdown-item" href="{{url_for('find_laptop_pos', field = 'pro gaming')}}">Pro Gaming</a></li>
            <li><a class="dropdown-item" href="{{url_for('find_laptop_pos', field = 'professional')}}">Professional</a></li>
            <li><a class="dropdown-item" href="{{url_for('find_laptop_pos', field = 'creator')}}">Creator</a></li>
            <li><a class="dropdown-item" href="{{url_for('find_laptop_pos', field = 'business')}}">Business</a></li>
          </ul>
        </div>

        <!-- Dropdown menu in lists -->
        <div class="list-group-item">
          <a class="dropdown-toggle text-decoration-none text-black" href="#" id="price_range_selector" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-currency-dollar "></i>
            Price range
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="price_range_selector">
            <li><a class="dropdown-item" href="{{url_for('find_laptop_price', field = '0-10000')}}">&lt; 10000</a></li>
            <li><a class="dropdown-item" href="{{url_for('find_laptop_price', field = '10000-20000')}}">10000~20000</a></li>
            <li><a class="dropdown-item" href="{{url_for('find_laptop_price', field = '20000-30000')}}">20000~30000</a></li>
            <li><a class="dropdown-item" href="{{url_for('find_laptop_price', field = '30000-40000')}}">30000~40000</a></li>
            <li><a class="dropdown-item" href="{{url_for('find_laptop_price', field = '40000-2147483647')}}">&gt; 40000</a></li>
            <li><a class="dropdown-item" href="{{url_for('find_laptop_price', field = 'lapor')}}">Lapor</a></li>
          </ul>
        </div>

        <!-- Dropdown menu in lists -->
        <div class="list-group-item">
          <a class="dropdown-toggle text-decoration-none text-black" href="#" id="weight_selector" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-speedometer"></i>
            Weight
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="weight_selector">
            <li><a class="dropdown-item" href="{{url_for('find_laptop_weight', field = 1)}}">&le; 1 kg</a></li>
            <li><a class="dropdown-item" href="{{url_for('find_laptop_weight', field = 1.5)}}">&le; 1.5 kg</a></li>
            <li><a class="dropdown-item" href="{{url_for('find_laptop_weight', field = 2)}}">&le; 2 kg</a></li>
            <li><a class="dropdown-item" href="{{url_for('find_laptop_weight', field = 2.5)}}">&le; 2.5 kg</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-9">
      <!-- show product -->
      <div class="container-fluid mt-2">
        {% for messages in get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-info mb-0">
          <h3 class="mb-0">{{ messages }}</h3>
        </div>
        {% endif %}
        {% endfor %}

        <div class="d-flex my-2">
          <span class="flex-grow-1"></span>
          <div class="dropdown">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="sortSelector" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-sort-down"></i>
              Sort by
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="sortSelector">
              <li><a class="dropdown-item" href="{{url_for(request.endpoint, sortBy='price', orderBy='asce', **request.view_args)}}">Price - Low to High</a></li>
              <li><a class="dropdown-item" href="{{url_for(request.endpoint, sortBy='price', orderBy='desc', **request.view_args)}}">Price - High to Low</a></li>
              <li><a class="dropdown-item" href="{{url_for(request.endpoint, sortBy='weight', orderBy='asce', **request.view_args)}}">Weight - Low to High</a></li>
              <li><a class="dropdown-item" href="{{url_for(request.endpoint, sortBy='weight', orderBy='desc', **request.view_args)}}">Weight - High to Low</a></li>
            </ul>
          </div>
          
        </div>

        {% for r in data %}

        <div class="card text-bg-light mb-3">
          <div class="row g-0">
            <div class="col" style="max-width: 240px;">
              <img src="{{ url_for('static', filename= 'img/laptop_img/' + r.product.model + '.png') }}"
                class="img-fluid rounded-start" style="height: auto;">
            </div>
            <div class="col ms-2">
              <div class="card-body">
                <div class="row">
                  <h3 class="card-title mt-0">{{r.product.name}}</h3>
                </div>

                <div class="row my-0">
                  <div class="col-5">
                    <p class="card-text my-0 text-capitalize">
                      <i class="bi bi-speedometer2"></i>
                      {{r.laptop.positioning}}
                    </p>
                    <p class="card-text mb-0">
                      <i class="bi bi-cpu"></i>
                      {{r.laptop.cpu}}
                    </p>
                    <p class="card-text mb-0">
                      <i class="bi bi-gpu-card"></i>
                      {{r.laptop.gpu if r.laptop.gpu!='' else 'iGPU'}}
                      
                      {% if r.laptop.vram %}  
                        {{r.laptop.vram }} GB
                      {% endif %}
                    </p>
                    <p class="card-text mb-0">
                      <i class="bi bi-memory"></i>
                      {{r.laptop.ram}} GB
                    </p>
                    {%if r.laptop.disk_capacity >= 1000 %}
                    <p class="card-text mb-0">
                      <i class="bi bi-device-hdd"></i>
                      {{r.laptop.disk_capacity / 1000}} TB
                    </p>
                    {%else%}
                    <p class="card-text">
                      <i class="bi bi-device-hdd"></i>
                      {{r.laptop.disk_capacity}} GB
                    </p>
                  {% endif %}  
                  </div>

                  <div class="col-5">
                    <p class="card-text mb-0">
                      <i class="bi bi-aspect-ratio"></i>
                      {{r.laptop.screen}} inch
                    </p>
                    <p class="card-text mb-0">
                      <i class="bi bi-display"></i>
                      {{r.laptop.resolution}} {{r.laptop.refreshRate}}Hz
                    </p>
                    <p class="card-text mb-0">
                      <i class="bi bi-speedometer"></i>
                      {{r.laptop.weight}} Kg
                    </p>
                  </div>

                </div>
                

                <div class="d-flex justify-content-around mt-1">
                  <!-- <a href="#" class="btn btn-outline-primary">
                    Go
                  </a> -->
                  <p class="flex-grow-1"></p>
                  <h4 class="align-self-center text-danger mb-0">
                    <strong>
                      ${{r.laptop.price}}
                    </strong>
                  </h4>
                </div>

              </div>
            </div>
          </div>
        </div>

        {% endfor %}

      </div>
    </div>
  </div>
</div>
{%endblock%}