{% extends 'base.html'%}
{%block title%}Laptop{%endblock%}
{%block content%}
<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <h1 class="display-1 mb-5">Laptop</h1>
      <div class="list-group list-group-flush">
        <h2>Filter</h2>
        <!-- <a class="list-group-item" href="#">An item</a>
                <a class="list-group-item" href="#">A second item</a>
                <a class="list-group-item" href="#">A third item</a>
                <a class="list-group-item" href="#">A fourth item</a>
                <a class="list-group-item" href="#">And a fifth one</a> -->

        <!-- Dropdown menu in lists -->
        <div class="list-group-item dropdown">
          <a class="dropdown-toggle text-decoration-none text-black" href="#" id="positioning_selector" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-speedometer2"></i>
            Positioning
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="positioning_selector">
            <li><a class="dropdown-item" href="#">Entry Level</a></li>
            <li><a class="dropdown-item" href="#">Light Gaming</a></li>
            <li><a class="dropdown-item" href="#">Pro Gaming</a></li>
            <li><a class="dropdown-item" href="#">Professional</a></li>
            <li><a class="dropdown-item" href="#">Creator</a></li>
            <li><a class="dropdown-item" href="#">Business</a></li>
          </ul>
        </div>

        <!-- Dropdown menu in lists -->
        <div class="list-group-item">
          <a class="dropdown-toggle text-decoration-none text-black" href="#" id="price_range_selector" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-currency-dollar "></i>
            Price range
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="price_range_selector">
            <li><a class="dropdown-item" href="#">&lt;10000</a></li>
            <li><a class="dropdown-item" href="#">10000~20000</a></li>
            <li><a class="dropdown-item" href="#">20000~30000</a></li>
            <li><a class="dropdown-item" href="#">30000~40000</a></li>
            <li><a class="dropdown-item" href="#">&gt;40000</a></li>
            <li><a class="dropdown-item" href="#">Lapor</a></li>
          </ul>
        </div>

        <!-- Dropdown menu in lists -->
        <div class="list-group-item">
          <a class="dropdown-toggle text-decoration-none text-black" href="#" id="weight_selector" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-speedometer"></i>
            Weight
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="weight_selector">
            <li><a class="dropdown-item" href="#">&lt;1 kg</a></li>
            <li><a class="dropdown-item" href="#">&le;1.3 kg</a></li>
            <li><a class="dropdown-item" href="#">&le;1.5 kg</a></li>
            <li><a class="dropdown-item" href="#">&le;1.6 kg</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-9">
      <!-- show product -->
      <div class="container-fluid mt-2">
        <div class="col">
          {% for messages in get_flashed_messages() %}
          {% if messages %}
          <div class="alert alert-info ">
              <h3 class="mb-0">{{ messages }}</h3>
          </div>
          {% endif %}
          {% endfor %}
          {% for r in data %}
          <div class="col">
            <div class="card text-bg-light mb-3">
              <div class="row g-0">
                <div class="col" style="max-width: 220px;" >
                  <img src="https://cs-e.ecimg.tw/items/DHAXAKA900DSMN8/000001_1643130114.jpg"
                    class="img-fluid rounded-start" style="height: auto;">
                </div>
                <div class="col ms-2">
                  <div class="card-body">
                    <h3 class="card-title mt-0">{{r.product.name}}</h3>
                    <p class="card-text my-0 text-capitalize">
                        <i class="bi bi-speedometer2"></i>
                        {{r.laptop.positioning}}
                      </p>
                    <p class="card-text mb-0">
                      <i class="bi bi-cpu"></i>
                      {{r.laptop.cpu}}
                    </p>
                    <p class="card-text mb-0">
                      <i class="bi bi-speedometer"></i>
                      {{r.laptop.weight}} Kg
                    </p>
                    {%if r.laptop.disk_capacity >= 1000 %}
                    <p class="card-text mb-0">
                      <i class="bi bi-device-hdd"></i>
                      {{r.laptop.disk_capacity / 1000}} TB
                    </p>
                    {%else%}
                    <p class="card-text">
                      <i class="bi bi-device-hdd"></i>
                      {{r.laptop.disk_capacity}} GB
                    </p>
                    {% endif %}

                    <div class="d-flex justify-content-around">
                      <a href="#" class="btn btn-outline-primary">
                        Go
                      </a>
                      <p class="flex-grow-1"></p>
                      <h4 class="align-self-center text-danger mb-0">
                        <strong >
                          ${{r.laptop.price}}
                        </strong>
                      </h4>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}