{% extends 'base.html' %}
{%block title %} member page {%endblock%}
{% block content %}
<div class="jumbotron jumbotron-fluid mt-5">
    <div class="container">
        <h1 class="display-4">member</h1>
        <ul class="list-group">
            {% for item in values%}
            <li class="list-group-item">
                <h5 class="mb-1">name： {{item.name}}</H5>
                <p class="mb-1">registration date： {{item.regDate}}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}