{% block navbar %}
<nav class="navbar navbar-dark bg-primary navbar-expand">
    <div class="container-fluid">
        <a class="navbar-brand text-light" href="#">DB2PRJ</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="vr"></div>
            <div class="navbar-nav">
                <a class="nav-link" href="">Home</a>
            </div>
        </div>
        <button type="button" class="btn btn-success d-flex">Checkout</button>
    </div>
</nav>
{% endblock navbar %}