{% block navbar %}
<nav class="navbar navbar-dark bg-primary navbar-expand">
    <div class="container-fluid">
        <a class="navbar-brand text-light">DB2PRJ🤪🥴</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="vr"></div>
            <div class="navbar-nav">
                <a class="nav-link {% if active_page=='index' %}active{% endif %}" href="{{url_for('index')}}">Home</a>
                {% if is_admin %}
                    <a class="nav-link {% if active_page=='member' %}active{% endif %}" href="{{url_for('member')}}">Member</a>
                    <a class="nav-link {% if active_page=='admin' %}active{% endif %}" href="{{url_for('admin')}}">Admin</a>
                {% endif %}
                <a class="nav-link {% if active_page=='hello' %}active{% endif %}" 
                href="{% if current_user.is_authenticated %}
                {{url_for('hello_name', name=current_user.id)}}
                {% else %}
                {{url_for('hello_name', name='aaa')}}
                {% endif %}
                ">
                Hello</a>
                <a class="nav-link {% if active_page=='about' %}active{% endif %}" href="{{url_for('about_us')}}">About</a>
            </div>
                
            <div class="navbar-nav ms-auto">
                {% if not current_user.is_authenticated %}
                <a class="btn btn-secondary" href="{{url_for('register')}}">
                    Register
                    <i class="bi bi-box-arrow-in-up ms-1"></i>
                </a>
                <a class="btn btn-success ms-1 " href="{{url_for('login')}}">
                    Login
                    <i class="bi bi-box-arrow-right ms-1"></i>
                </a>    
                {% else %}
                <a class="btn btn-primary ms-2" href="{{url_for('account')}}">
                    <i class="bi bi-person-circle me-1"></i>
                    {{ current_user.id }}
                </a>
                <a class="btn btn-success ms-2" href="{{url_for('logout')}}">
                    Logout
                    <i class="bi bi-box-arrow-left ms-1"></i>
                </a>
                {% endif %}
            </div>    
        </div>
    </div>
</nav>
{% endblock navbar %}