{% extends 'base.html'%}
{%block title%}Memory {%endblock%}
{%block content%}
<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <h1 class="display-1 mb-5">Memory</h1>
      <div class="list-group list-group-flush">
        <h2>Filter</h2>

        <!-- Dropdown menu in lists -->
        <div class="list-group-item dropdown">
          <a class="dropdown-toggle text-decoration-none text-black" href="#" id="positioning_selector" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-pie-chart"></i>
            Capacity
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="capacity_selector">
            <li><a class="dropdown-item" href="{{url_for('find_ram_cap', field = 1)}}">1 GB</a></li>
            <li><a class="dropdown-item" href="{{url_for('find_ram_cap', field = 2)}}">2 GB</a></li>
            <li><a class="dropdown-item" href="{{url_for('find_ram_cap', field = 4)}}">4 GB</a></li>
            <li><a class="dropdown-item" href="{{url_for('find_ram_cap', field = 8)}}">8 GB</a></li>
            <li><a class="dropdown-item" href="{{url_for('find_ram_cap', field = 16)}}">16 GB</a></li>
            <li><a class="dropdown-item" href="{{url_for('find_ram_cap', field = 32)}}">32 GB</a></li>
          </ul>
        </div>

        <!-- Dropdown menu in lists -->
        <div class="list-group-item">
          <a class="dropdown-toggle text-decoration-none text-black" href="#" id="price_range_selector" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-currency-dollar "></i>
            Price range
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="price_range_selector">
            <li><a class="dropdown-item" href="{{url_for('find_ram_price', field='0-1000')}}">&lt;1000</a></li>
            <li><a class="dropdown-item" href="{{url_for('find_ram_price', field='1000-2000')}}">1000~2000</a></li>
            <li><a class="dropdown-item" href="{{url_for('find_ram_price', field='2000-3000')}}">2000~3000</a></li>
            <li><a class="dropdown-item" href="{{url_for('find_ram_price', field='3000-4000')}}">3000~4000</a></li>
            <li><a class="dropdown-item" href="{{url_for('find_ram_price', field='4000-2147483647')}}">&gt;4000</a></li>
            <li><a class="dropdown-item" href="{{url_for('find_ram_price', field='lapor')}}">Lapor</a></li>
          </ul>
        </div>

        <!-- Dropdown menu in lists -->
        <div class="list-group-item">
          <a class="dropdown-toggle text-decoration-none text-black" href="#" id="weight_selector" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-memory"></i>
            Technology
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="weight_selector">
            <li><a class="dropdown-item" href="{{url_for('find_ram_type', field = 'DDR5')}}">DDR5</a></li>
            <li><a class="dropdown-item" href="{{url_for('find_ram_type', field = 'DDR4')}}">DDR4</a></li>
            <li><a class="dropdown-item" href="{{url_for('find_ram_type', field = 'DDR3')}}">DDR3</a></li>
            <li><a class="dropdown-item" href="{{url_for('find_ram_type', field = 'DDR3L')}}">DDR3L</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-9">
      <!-- show product -->
      <div class="container-fluid mt-2">
        
          {% for messages in get_flashed_messages() %}
          {% if messages %}
          <div class="alert alert-info ">
            <h3 class="mb-0">{{ messages }}</h3>
          </div>
          {% endif %}
          {% endfor %}
          {% for r in data %}
          
            <div class="card text-bg-light mb-3">
              <div class="row g-0">
                <div class="col" style="max-width: 220px;">
                  <img src="{{ url_for('static', filename= 'img/ram_img/' + r.product.model + '.png') }}"
                    class="img-fluid rounded-start" style="height: auto;">
                </div>
                <div class="col ms-2">
                  <div class="card-body">
                    <h3 class="card-title mt-0">{{r.product.name}}</h3>
                    <p class="card-text my-0 text-capitalize">
                      <i class="bi bi-pie-chart"></i>
                      {{r.ram.capacity}} GB
                    </p>
                    <p class="card-text my-0 text-capitalize">
                      <i class="bi bi-speedometer"></i>
                      {{r.ram.rate}} MHz
                    </p>
                    <p class="card-text mb-0">
                      <i class="bi bi-memory"></i>
                      {{r.ram.ddr_type}}
                    </p>
                    <p class="card-text mb-0">
                      <i class="bi bi-lightbulb"></i>
                      {{'Available' if r.ram.rgb else 'Not available'}}
                    </p>
                    <p class="card-text">
                      <i class="bi bi-file-check"></i>
                      {{'Available' if r.ram.ecc==1 else 'Not available'}}
                    </p>


                    <div class="d-flex justify-content-around">
                      <a href="#" class="btn btn-outline-primary">
                        Go
                      </a>
                      <p class="flex-grow-1"></p>
                      <h4 class="align-self-center text-danger mb-0">
                        <strong>
                          ${{r.ram.price}}
                        </strong>
                      </h4>
                    </div>

                  </div>
                </div>
              </div>
            </div>

          {% endfor %}
        
      </div>
    </div>
  </div>
</div>
{%endblock%}