{% extends 'base.html' %}

{% block title %}
Register
{% endblock title %}

{%block content%}
{% with messages=get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-danger">
            {{ messages }}
        </div>
    {% endif %}
{% endwith %}
<form method="POST" action="{{ url_for('register') }}">
    {{ form.hidden_tag() }}
    <p>{{ form.username.label(class="form-label") }} {{ form.username(class="form-control") }}
        {% if form.username.errors %}
        {% for error in form.username.errors %}
        {{ error }}
        {% endfor %}
        {% endif %}
    </p>

    
    <div class="mb-3">{{ form.password.label(class="form-label") }} {{ form.password(class="form-control") }}</div>
    <div class="mb-3">{{ form.address.label(class="form-label") }} {{ form.address(class="form-control") }}</div>
    <div class="mb-2">{{ form.admin.label(class="form-check-label") }} {{ form.admin(class="form-check-input ms-1") }}</div>
    
    <div>{{ form.submit(class="btn btn-primary") }}</div>
</form>
{%endblock%}